<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 전체 매퍼중에서 유일한 값을 사용하여야 한다.
    	 해서 관계적으로 해당 파일의 패스와 파일이름(확장자제외)
    	 그리고 dao에서 namespace와 일치하여야 한다. -->
<!--  <mapper namespace="com.program.app.codegroup.CodeGroupMapper">


										select 결과물 받을 객체 
    <resultMap id="resultMapObj" type="com.program.app.codegroup.CodeGroup"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT 
    	*
    	FROM
    		codegroup
    
    
    </select>

</mapper>    --> 
 
<mapper namespace="com.program.app.infra.codegroup.CodeGroupMapper">

	<resultMap type="com.program.app.infra.codegroup.CodeGroup" id="resultMapObj"></resultMap>
 
 	<sql id="abc">
 		seq,
 		nameFull,
 		delNy
 	</sql>
 
 
 	<select id="selectList" resultMap="resultMapObj">
 		select
 			<include refid="abc" />
 			<!-- <include refid="abc" /> -->
 		from
 			codegroup
 			where 1=1
 		<if test="shKeyword != null and !shKeyword.equals('')">
 			and nameFull like concat('%',#{shKeyword},'%')
 		</if>		 
<!--  		and
 			delNy = 0; -->
 			<!-- 문자 검색은 대부분 like를 사용 -->
 	
 	
 	</select>
 	
 		<select id="selectOne" resultMap="resultMapObj">
 		select
 			<include refid="abc" />
 		from
 			codegroup
 		where 1=1
 			and	seq = #{seq}
 			<!-- 문자 검색은 대부분 like를 사용 -->
 	
 	
 	</select>
 	
 <update id="update" >
 	update
 		codegroup
 	set
 		nameFull = #{nameFull}
 	where 1=1
 		and seq = #{seq}
 </update>
 
 <delete id="delete">
 	delete
 	from
 		codegroup
 	where 1=1
 		and seq = #{seq}
 		
 
 </delete>
 
 <insert id="insert">
 	insert into 
 	codegroup(
 		nameFull
 		)value(
 			#{nameFull}
 		)
 
 </insert>
 
 <update id="uelete">
	update
 		codegroup
 	set
 		delNy = #{delNy}
 	where 1=1
 		and seq = #{seq} 
 </update>
 
 </mapper>
