<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
    <!-- 전체 매퍼중에서 유일한 값을 사용하여야 한다.
    	 해서 관계적으로 해당 파일의 패스와 파일이름(확장자제외)
    	 그리고 dao에서 namespace와 일치하여야 한다. -->
<!--  <mapper namespace="com.program.app.codegroup.CodeGroupMapper">


										select 결과물 받을 객체 
    <resultMap id="resultMapObj" type="com.program.app.codegroup.CodeGroup"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	SELECT 
    	*
    	FROM
    		codegroup
    
    
    </select>

</mapper>    --> 
 
<mapper namespace="com.program.app.infra.code.CodeMapper">

	<resultMap type="com.program.app.infra.code.Code" id="resultMapObj"></resultMap>
 
 	<sql id="abc">
 		seq,
 		name,
 		codegroup_seq
 	</sql>
 
 <sql id ="selectCommon">
   		FROM    
	    	code
		WHERE 1=1
			<if test="shKeyword != null and !shKeyword.equals('')">AND name LIKE CONCAT('%',#{shKeyword},'%')</if>
    </sql>

   	<select id="selectOneCount" resultType="Integer">
		SELECT count(*)
		<include refid="selectCommon" />
	</select>

   	<select id="selectList" resultMap="resultMapObj">
		SELECT aa.* FROM (   	
	   		SELECT
				<include refid="abc" />
	   			<include refid="selectCommon" />
		) aa
		LIMIT #{rowNumToShow} OFFSET #{startRnumForMysql}	   			
   	</select>
 
 
 
<!--  	<select id="selectList" resultMap="resultMapObj">
 		select
 			<include refid="abc" />
 			<include refid="abc" />
 		from
 			codegroup
 			where 1=1
 		<if test="shKeyword != null and !shKeyword.equals('')">
 			and nameFull like concat('%',#{shKeyword},'%')
 		</if>		 
 		and
 			delNy = 0;
 			문자 검색은 대부분 like를 사용
 	
 	
 	</select> -->
 	
 		<select id="selectOne" resultMap="resultMapObj">
 		select
 			<include refid="abc" />
 		from
 			code
 		where 1=1
 			and	seq = #{seq}
 			<!-- 문자 검색은 대부분 like를 사용 -->
 	
 	
 	</select>
 	
 <update id="update" >
 	update
 		code
 	set
 		name = #{name},
 		codegroup_seq = #{codegroup_seq}
 	where 1=1
 		and seq = #{seq}
 </update>
 
 <delete id="delete">
 	delete
 	from
 		code
 	where 1=1
 		and seq = #{seq}
 </delete>
 
 <insert id="insert">
 	insert into 
 	code(
 		name,
 		delNy,
 		codegroup_seq
 		)value(
 			#{name},
 			#{delNy},
 			#{cdegroup_seq}
<!-- 		 <choose>
            <when test="delNy == null or delNy == '' or delNy == 0">
                0
            </when>
            <when test="delNy == '1' or delNy == 1 ">
                1
            </when>
            <otherwise>
                <![CDATA[(SELECT 1/0)]]>
            </otherwise>
        </choose> -->
 			<!-- 여기에 delNy값을 설정해야함 -->
 		)
 
 </insert>
 	
 <update id="uelete">
	update
 		code
 	set
 		delNy = #{delNy}
 	where 1=1
 		and seq = #{seq} 
 </update> 
 


  <select id="selectListCodeArrayList" resultMap="resultMapObj">
  
  	select
  		seq,
  		name,
  		codegroup_seq
  	from
  		code
  	where 1=1
  	and delNy = 1
  
  </select>


 </mapper>
